<main role="main">

  <div class="authform">
    <p><%= link_to 'Update account', plaid_update_path %></p>
    <p><%= link_to 'Update banking', plaid_update_path %></p>
    <p><%= link_to 'Update charge', stripe_update_path %></p>
  </div>

</main>
