<div class="hero">
  <div class="col-md-6 col-md-offset-3 get-started">
    <p class='welcome-text'>WELCOME TO SPARE CHANGE</p>
    <p class='welcome-text-desc'>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
    <a href=" users/sign_up "> <button class="sign-up-button center-block"> Get Started </button></a>
  </div>
</div>
