<div class="hero">
  <div class="col-md-6 col-md-offset-3 get-started">
    <p class='welcome-text'>WELCOME TO SPARE CHANGE</p>
    <p class='welcome-text-desc'>
      You buy your morning coffee, We donate your Spare Change.<br><br>

      To sign up, gather your credit card, banking information and click below to get started. For every withdrawal you make on your bank account, we will round it up to the nearest dollar and give the difference to your preferred charity. Track your progress on your dashboard and get weekly email updates of your donations. <br><br>

      We make it easy to give back.
    </p>
    <a href=" users/sign_up "> <button class="sign-up-button center-block"> Get Started </button></a>
  </div>
</div>
