
<h2>User Dashboard</h2>

<p>Name: <%= find_user.name if find_user.name %></p>
<p>Email: <%= find_user.email if find_user.email %></p>

<h3>Total contributions:</h3>
  <p><%= @total_contributions %>




