<div class="authform">
  <p><%= link_to 'Edit account', edit_user_registration_path %></p>
  <p><%= link_to 'Edit banking', plaid_update_path %></p>
  <p><%= link_to 'Edit charge', stripe_update_path %></p>
  <p><%= link_to 'Edit charity', charities_index_path %></p>
</div>
