body{
  font-family: Helvetica;
}

main{
  background-color: white;
}

#donations_stream{
  margin-top: 1%;
  border: 1px solid black;
  height: 80vh;
  overflow: none;
  #donation_totals{
    height: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
    #charity_logo{
      max-width: 30%;
      height: auto;
    }
    #total_contribution{
      font-size: 2em;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    #last_two_months_container{
      border: 1px solid black;
      min-width: 25%;
      max-width: 45%;
      padding-top: 1%;
      padding-bottom: 1%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 5%;
      #last_two_months_table{
        max-width: 95%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        #last_month{
          border-bottom: 1px solid black;
        }
        td{
          padding-top: 2%;
          padding-bottom: 2%;
        }
      }
    }
  }
}




#recent_transactions_container:hover{
    overflow-y: scroll;
}
#recent_transactions_container{
  position: relative;
  max-height: 60%;
  margin-top: 5%;
  margin-bottom: 5%;
  overflow-y: hidden;
  #recent_transactions_table{
    min-width: 90%;
    margin-left: auto;
    margin-right: auto;
    tr{
      border-bottom: 1px solid black;
    }
    td{
      text-align: center;
      padding: 2%;
    }

    #transaction_left{
      float: left;
      text-align: left;
      #transaction_name{
        font-size: 1.25em;
      }
      #transaction_amount{
        font-size: .75em;
      }
    }
    #transaction_right{
      font-size: 1.5em
    }
  }
}




#donations_graph{
  padding: 2%;
}


